@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #0E161C;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    background-color: #1B2832;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.toolbar {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}



canvas {
    border: 2px solid #ccc;
    cursor: crosshair;
    background-color: #fff;
}